:root {
    --black-1: #212020;

    --gray-0: #D4D4D4;
    --gray-1: #BBBBBB;
    
    --orange-1: #EF5A2A;
    --orange-2: #FFB098;    

    --red-1: #FF5659;
    --teal-1: #00A69E;
    --blue-1: #5689FF;
    --yellow-1: #FFCA3A;
    
    --white-0: #FFFFFF;
    --white-1: #FBFBFB;
    --white-2: #FCFCFC;
    --white-3: #FDFDFD;
    --white-4: #F3F3F3;
    --white-5: #F5F5F5;
    --white-6: #F8F8F8;
    --white-7: #F7F7F7;
    --white-8: #FFF7F4;
    --white-9: #FFF7F5;
    --white-10: #EBEBEB;
}

* {
    font-family: "IBM Plex Sans", sans-serif !important;
    
    --lte-sidebar-color: var(--black-1);
    --lte-sidebar-hover-bg: var(--white-9); 
    --lte-sidebar-hover-color: var(--orange-1);
    --lte-sidebar-menu-active-bg: var(--white-9);
    --lte-sidebar-menu-active-color: var(--orange-1);
}

::-webkit-scrollbar { 
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.05) !important;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
}

::-webkit-input-placeholder {
    color:#999 !important;
}
:-moz-placeholder {
    color:#999 !important;
    opacity:  1;
}
::-moz-placeholder {
    color:#999 !important;
    opacity:  1;
}
:-ms-input-placeholder {
    color: #999 !important;
}
::-ms-input-placeholder {
    color: #999 !important; 
}

::placeholder,
.select2-selection__placeholder {
    font-weight: 400;
    letter-spacing: .25px;
    color: #999 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--bs-border-color) inset !important;
    -webkit-text-fill-color: var(--black-1) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.banner-container {
    width: 100%;
}

.infinite-scroll-wrapper {
    overflow: hidden;
    width: 100%;
    background: transparent;
}

.infinite-scroll-left {
    display: flex;
    width: max-content;
    animation: scroll-left 50s linear infinite;
}

.infinite-scroll-right {
    display: flex;
    width: max-content;
    animation: scroll-right 50s linear infinite;
}

.slide {
    flex: 0 0 auto;
    width: 300px;
    height: 150px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
    }

    img.square {
        width: 40%;
    }
}

section {
    /* min-height: 100vh; */
    min-height: fit-content;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 1s ease, transform 1s ease;
    box-sizing: border-box;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

.small-box {
    box-shadow: none;

    .inner {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        text-decoration: none;
        
        color: var(--black-1);
        border-radius: 6px;
        border: 1px solid var(--bs-border-color);
    }

    .inner:hover {
        color: var(--white-0);
        border: 1px solid var(--orange-1);
        background-color: var(--orange-1);
    }
}

.header-admin {
    margin-bottom: 0;
    text-transform: uppercase; 
    font-weight: 700;
    /* color: #E55348; */
}

.subheader-admin {
    letter-spacing: .75px;
}


.icon-admin {
    font-size: 40px;
}

.img-prev {
    width: 100%;
    height: 342px;
    border-radius: 6px;
    background-color: var(--bs-border-color);

    .thumbnail {
        display: flex;
        height: 100%;
        width: 100%;

        justify-content: center;
        align-items: center;
        color: #717171;

        span {
            letter-spacing: .5px;
            font-weight: 300;
        }
    }

    .preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}

.icon-prev {
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 6px;
    background-color: var(--bs-border-color);

    .preview {
        max-height: 50px;
        object-fit: cover;
        border-radius: 6px;
    }
}

.required {
    color: var(--red-1);
}

.note-modal {
    .modal-dialog {
        box-shadow: none;
    }
}

.option.select2-image {
    max-height: 50px;
    object-fit: cover;
}

.column-logo {
    height: 50px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 2048px) {
    .app-content > div {
        align-items: center;

        section,
        .menu-content {
            opacity: 1;
            transform: unset;
            transition: unset;
            max-width: 2048px !important;
        }

        section.visible {
            opacity: 1;
            transform: unset;
        }
    }
}