#content-opportunities {
    .description {
        font-size: 16px;
        font-weight: 400;
    }

    .icon {
        font-size: 24px;
    }
}

#content-descriptions {
    padding: 32px;

    .desc-data {
        .req-data {
            font-weight: 500;
        }
    }
}

@media (max-width: 576px) {
    #content-descriptions {
        padding: 16px;

        .description {
            font-size: 14px;
            letter-spacing: .5px;
        }

        .desc-data {
            .req-data {
                font-weight: 500;
                font-size: 14px;
            }

            ol li {
                font-size: 14px;
            }
        }
    }   
}