#content-opportunities {
    .description {
        font-size: 16px;
        font-weight: 300 !important;
    }

    .icon {
        font-size: 24px;
    }
}

#content-descriptions {
    padding: 32px;
}

@media (max-width: 576px) {
    #content-descriptions {
        padding: 16px;
    }   
}