.landing-contents {
    .banner-container {
        height: 350px;

        img {
            object-fit: cover;
        }
    }

    .company-name { 
        color: #212020;
        margin: 0px;
        padding: 0px;
        font-size: 32px; 
        font-weight: 700;
        letter-spacing: .5px;
        text-transform: uppercase;
    }

    .company-motto {
        color: #212020;
        margin: 0px;
        padding: 0px;
        font-size: 16px; 
        font-weight: 400;
        letter-spacing: .25px;
        text-transform: lowercase;
    }

    .contents {
        padding-left: 64px; 
        padding-right: 64px; 
        padding-bottom: 32px;
    }

    #web-contents.contents {
        .card-contents {
            display: flex;
            gap: 20px;
            padding-top: 16px; 
            padding-left: 0px;
            padding-right: 0px;
            overflow-x: scroll;
            
            .card.news {
                width: 400px; 
                height: 475px;
                min-width: 400px; 
                min-height: 475px; 
                background-color: #FBFBFB;

                .card-title {
                    font-size: 24px;
                    font-weight: 700;  
                    letter-spacing: 1px;
                }

                .description {
                    font-size: 16px; 
                    letter-spacing: .25px;
                }
            }
        }

        .company-header {
            display: flex;
            justify-content: center;

            .company-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    #company-statistics {
        .stats-title {
            text-transform: uppercase;
        }

        .row > div {
            padding: 64px; 

            i.icon {
                color: #212020;
                font-size: 96px;
            }

            .stats-number {
                font-size: 32px; 
                font-weight: 600;
            }

            .stats-desc {
                font-size: 16px; 
                font-weight: 400;
                text-align: center; 
                letter-spacing: .5px;
            }
        }

        .row > div:nth-child(even){
            background-color: #FFF7F5;
        }
    }

    #partners-testimonies {
        padding-top: 64px;

        .title {
            padding-left: 64px;
            padding-right: 64px;
        }

        .testimonies-scroll {
            padding-left: 64px;
            padding-right: 64px;

            overflow-x: scroll;
        }

        .review-name {
            font-size: 24px; 
            font-weight: 700;
        }

        .review-role {
            font-weight: 300; 
            font-size: 12px;
        }

        .review-desc {
            font-size: 20px;
        }

        .row > div {
            padding: 64px;
            background-color: #FCFCFC; 
        }
    }

    #company-services {
        .desc {
            letter-spacing: .25px;
            color: #E9E9E9;
        }

        #company-title {
            padding-left: 64px; 
            padding-right: 64px;
        }

        .service-data {
            display: flex;
            flex-direction: column;

            .service-desc {
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: .5px;
            }

            .service-feat {
                display: flex;
                gap: 16px;

                .feat-data {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 120px;

                    .stat-value {
                        color: #212020;
                        font-size: 20px;
                        font-weight: 600;
                        text-transform: lowercase;
                    }

                    .stat-desc {
                        color: #212020;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: .25px;
                    }

                    i {
                        font-size: 40px;
                        color: #EF5A2A;
                    }   
                }

                .feat-data.even {
                    background-color: #FFF7F4;
                }
            }
        }
    }
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title {
        font-size: 32px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }

    .sub-title {
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-transform: lowercase; 
        text-align: center; 
    }
}

.menu-container {
    .list-menu {
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .menu {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0px 8px;
            cursor: pointer;

            span {
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .5px;
                font-size: 12px;
            }
        }

        .menu.active {
            height: 100%;
            background-color: #F4F4F4;

            span {
                font-weight: 600;
            }
        }
    }
}

.menu-content {
    display: flex;
    flex-direction: column;
    padding: 32px 64px;

    .content {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 0px;
            text-transform: uppercase;
        }

        .sub-title {
            font-size: 14px;
            font-weight: 300;
            letter-spacing: .5px;
        }

        .menu-feat {
            display: flex;
            gap: 16px;
            padding: 8px;
            flex-wrap: wrap;

            .feat {
                width: 120px;
                display: flex;
                align-items: center;
                flex-direction: column;

                i {
                    font-size: 40px;
                    color: #EF5A2A;
                }

                .feat-value {
                    font-weight: 600;
                    font-size: 20px;
                }

                .feat-desc {
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            .feat.even {
                background-color: #FFF7F4;
            }
        }
    }
}

@media (min-width: 1200px) {
    #company-statistics {
        .row > div {
            background-color: transparent !important;
        }

        .row > div:nth-child(1),
        .row > div:nth-child(3n) {
            background-color: #FFF7F5 !important;
        }
    }
}

@media (max-width: 992px) {
    section {
        min-height: fit-content !important;
    }

    .contents {
        padding: 32px;
    }

    #web-contents {
        #news-content {
            .card {
                width: 325px !important;
                min-width: 325px !important;
                border-radius: 10px !important;

                .card-body {
                    width: 100% !important;

                    img {
                        object-fit: cover;
                    }

                    .card-title {
                        font-size: 20px;
                    }

                    .btn-redirect {
                        i {
                            font-size: 18px;
                        }

                        .btn-text {
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    .description {
                        font-size: 16px;
                        font-weight: 400;
                        text-align: left;
                        letter-spacing: .15px;
                    }
                }
            }
        }
    }

    #company-statistics {
        .row > div{
            background-color: transparent !important;
        }

        .row > div:nth-child(1),
        .row > div:nth-child(4n),
        .row > div:nth-child(4n + 1) {
            background-color: #FFF7F5 !important;
        }
    }

    #partners-testimonies {        
        .slide {
            width: 250px;
            height: 150px;
        }
    }
}

@media (max-width: 768px) {
    #web-contents {
        #news-content {
            .card {
                width: 325px !important;
                min-width: 325px !important;
                border-radius: 10px !important;

                .card-body {
                    width: 100% !important;

                    img {
                        object-fit: cover;
                    }

                    .card-title {
                        font-size: 20px;
                    }

                    .btn-redirect {
                        i {
                            font-size: 18px;
                        }

                        .btn-text {
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    .description {
                        font-size: 16px;
                        font-weight: 400;
                        text-align: left;
                        letter-spacing: .15px;
                    }
                }
            }
        }
    }

    #company-services {
        .stats-title {
            margin-bottom: 16px !important;
        }
    }

    #company-statistics {
        .row > div {
            background-color: transparent !important;
        }

        .row > div:nth-child(1),
        .row > div:nth-child(4n),
        .row > div:nth-child(4n + 1) {
            background-color: #FFF7F5 !important;
        }
    }
}

@media (max-width: 576px) {
    .contents {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .menu-content {
        .content {
            .menu-feat {
                .feat {
                    padding: 8px 0px;
                    width: 100%;
                }
            }
        }
    }

    .btn-select-group {
        width: 100%;
        border-radius: 16px;
        flex-direction: column;
        background-color: transparent;
        border: none;

        button {
            width: 100%;
            border-radius: 10px !important;
            justify-content: start;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    #web-contents {
        padding-left: 0px !important;
        padding-right: 0px !important;
        
        .container-fluid {
            padding: 0px;

            .banner-container {
                img {
                    object-fit: cover;
                }
            }

            .company-header {
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                }

                .company-data {
                    .company-name {
                        font-size: 20px;
                        text-align: start;
                        font-weight: 700 !important;
                        letter-spacing: .15px;
                    }

                    .company-motto {
                        font-size: 14px;
                        text-align: start;
                    }
                }
            }
        }

        #news-content {
            .card {
                width: 300px !important;
                min-width: 300px !important;
                border-radius: 10px !important;

                .card-body {
                    width: 100% !important;

                    img {
                        object-fit: cover;
                    }

                    .btn-redirect {
                        i {
                            font-size: 18px;
                        }

                        .btn-text {
                            font-weight: 600;
                            font-size: .8rem;
                        }
                    }

                    .description {
                        font-size: 16px;
                        font-weight: 400;
                        text-align: left;
                        letter-spacing: .15px;
                    }
                }
            }
        }
    }

    #company-services {
        padding: 16px !important;

        #company-title {
            padding-left: 16px !important; 
            padding-right: 16px !important;
        }

        .stats-title {
            margin-bottom: 16px !important;
        }

        .service-img {
            height: 200px !important;
            object-fit: cover;
        }

        .service-desc {
            font-size: 14px !important;
            font-weight: 400 !important;
            text-align: left;
            margin: 0px;
            letter-spacing: .75px !important;
        }

        .service-feat {
            flex-direction: column;

            .feat-data {
                justify-content: center;
                height: 180px;
                width: 100% !important;
                
                i {
                    font-size: 48px !important;
                }

                .stat-value {
                    font-weight: 700 !important;
                    font-size: 28px !important;
                }

                .stat-desc {
                    font-weight: 400 !important;
                    font-size: 16px !important;
                }
            }
        }
    }

    #company-statistics {
        .row > div {
            background-color: transparent !important;
            padding: 32px !important; 

            i.icon {
                font-size: 64px !important;
            }

            .stats-number {
                font-size: 28px !important; 
                font-weight: 700;
            }

            .stats-desc {
                font-size: 14px !important; 
                font-weight: 400;
                text-align: center; 
                letter-spacing: .5px;
            }
        }

        .row > div:nth-child(1),
        .row > div:nth-child(4n),
        .row > div:nth-child(4n + 1) {
            background-color: transparent !important;
        }

        .row > div:nth-child(odd) {
            background-color: #FFF7F5 !important;
        }
    }

    #partners-testimonies {
        margin-bottom: 0px;
        padding-bottom: 0px;

        .title {
            padding: 0px !important;
        }

        #testimonies-content {
            padding: 0px;

            div {
                padding: 16px;

                img {
                    width: 50px;
                    margin-bottom: 16px !important;
                }

                .review-name {
                    font-size: 24px;
                }

                .review-desc {
                    font-size: 14px;
                }
            }
        }

        
        .slide {
            width: 150px;
            height: 100px;
        }
    }
}