.btn-redirect {
    padding-top: 8px !important;
    padding-bottom: 8px !important;

    color: #212020; 
    border: 1px solid #212020; 
    border-radius: 64px;

    i {
        font-size: 20px;
    }

    span {
        font-size: 16px; 
        font-weight: 500; 
        letter-spacing: .5px; 
        height: fit-content !important;
    }
}

.btn-redirect:hover {
    background-color: #EF5A2A !important;
    color: white !important; 
    border: none !important;

    font-weight: 400 !important;
}

.btn-direct {
    color: #212020; 
    border: 1px solid #212020; 
    border-radius: 64px;

    i.btn-icon {
        font-size: 24px;
    }

    span.btn-text {
        font-size: 16px; 
        font-weight: 600; 
        letter-spacing: 1px; 
        height: fit-content !important;
    }
}

.btn-slide-group {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: end;

    .btn-slide {
        padding: 4px;
        display: flex;

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }
    }

    .btn-slide.left {
        color: #F35728;
        border: none;
        border-radius: 4px;
        background-color: #F5F5F5;
    }

    .btn-slide.right {
        border: none;
        border-radius: 4px;
        background-color: #F35728;
    }
}

.btn-select-group {
    padding: 4px;
    border-radius: 32px;
    background-color: #F8F8F8;
    display: flex;
    gap: 4px;
    width: fit-content;
    border: 2px solid #F7F7F7;

    button,
    button:active {
        display: flex;
        align-items: center;
        gap: 8px;

        border-radius: 32PX;
        font-size: 1rem;
        font-weight: 500;
        background-color: transparent;
        color: #D4D4D4 !important;
        border: none !important;
        box-shadow: none;

        i {
            font-size: 24px;
        }
    }

    button.active,
    button.active:active {
        background-color: #F35728;
        border: 2px solid #FFB098;
        color: white !important;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .25px;
    }

    button:not(.active):hover {
        color: #D4D4D4;
    }
}   

